<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PHP and Angular JS</title>
	<style>
		ul {
			border: 1px solid orange;
		}
	</style>
	<script src="angular.js"></script>
	<script src="app.js"></script>
</head>
<body  ng-app="funwithcountries">

	<h1>Fun with Countries</h1>

	<div ng-controller="CountryController as countryCtrl">
		<ul>
			<li ng-repeat="c in countryCtrl.countries">
				<img ng-src="images/{{ c.code }}.png">
				{{ c.name }}

				<div ng-controller="StateController as stateCtrl">
					<ul ng-show="c.states.length > 0">
						<li ng-repeat="s in c.states">
							{{ s.name }}
						</li>
					</ul>
					<input type="text" name="state" ng-model="stateCtrl.newState">
					<a href ng-click="stateCtrl.addStateTo(c)">Add state {{ stateCtrl.newState }}</a>
				</div>

			</li>
		</ul>
		
	</div>
</body>
</html>